.filters{
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20% ;
    border: none;
    border-radius: 4px;
    margin-top: 11px;
    margin-right: 30px;
    
}

button:hover{
    opacity: 0.9;
}