.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    border: 1px #DDDDDD 4px;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-end;
}


.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    borders: 0;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    opacity: 0.9;
    border-radius: 4px;
}

.filters button:hover {
    opacity: .9;
}

.locations{
    margin-left: 30px;
    height: 100%;
    width: 25%;
}

.amenities {
    margin-left: 30px;
    height: 100%;
    width: 25%;
}

.filters div:first-child {
    border-right: solid #DDDDDD 1px;
}

h3 {
    margin: 12px 10px 0px 10px;
    padding: 0px;
    font-weight: 600;
}

h4 {
    margin: 6px 10px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}