.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
  }
  
  .filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin: 11px 30px 0 0;
    opacity: 1;
    float: right;
  }
  
  .filters button:hover {
    opacity: 0.9;
  }
  
  .locations, .amenities {
    height: 100%;
    width: 25%;
    float: left;
  }
  
  .locations {
    border-right: 1px solid #DDDDDD; 
  }
  
  .locations h3, .amenities h3 {
    font-weight: 600;
    margin: 15px 0 0 50px;
  }
  
  .locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 4px 0 0 50px;
  }
  
  .popover {
    display: none;
    background-color: #FAFAFA;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    line-height: 1;
    z-index: 1;
  }
  
  .locations:hover .popover,
  .amenities:hover .popover {
    display: block;
  }
  
  li {
    margin: 10px;
    list-style: none;
  }
  
  .locations li {
    margin: 5px -10px;
    padding-bottom: 0;
  }
  
  .locations h2 {
    font-size: 16px;
  }
