.places h1 {
    top: auto;
    text-align: left;
    font-size: 30px;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
}

.places article h2{
    font-size: 30px;
    align-content: center;
}
