.places {
    text-align: center;
    width: 100%;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    margin-left: 2%;
}

article h2 {
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    height: inherit;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    margin-top: 2%;
}

.price_by_night h3 {
    font-size: 30px;
    margin-top: 15px;
}

.user, .description {
    text-align: left;
    margin-top: 20px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.max_guest, .number_bathrooms, .number_rooms {
    width: 100px;
    display: inline-block;
    height: inherit;
    margin-bottom: 100px;
}

.max_guest {
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position: center;
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position: center;
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position: center;
}

.max_guest p, .number_bathrooms p, .number_rooms p {
    margin-top: 55px;
}
